body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    color: white;
  }
  /* estilo de el contenedor*/
  .login-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../assets/fondoLogin.png');
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;
    width: 90vw;
    max-width: 600px;
    text-align: center;
    position: relative;
  }
/* boton cerrar */
  .closse-btn {
    position: absolute;
    background: none;
    top: 15px;
    right: 45px;
    color: red;
    cursor: pointer;
    font-size: 30px;
}
/* titulo */
  .login-container h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .login-container label {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    display: block;
    margin-top: 10px;
  }
  
  .login-container input[type="email"],
  .login-container input[type="password"],
  .login-container input[type="text"] {
    width: 80%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #686E9E;
    color: white;
    font-size: 16px;
  }
  
  .login-container input::placeholder {
    color: #ccc;
  }

  .password-input {
    position: relative;
    align-items: center;
  }
  
  .password-input {
    width: 100%;
  }
  
  .eye-iconL {
    position: absolute;
    right: 70px;
    top: 18px;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
  }
  
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    color: #ccc;
  }
  
  .options .forgot-password {
    color: #046EF8;
    text-decoration: none;
  }
  
  .login-button {
    background-color: #F66136;
    color: black;
    border: solid 1px white;
    border-radius: 20px;
    padding: 12px 0;
    width: 60%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .register-text {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .register-link {
    color: #046EF8;
    text-decoration: none;
  }
  
  .message {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 20px;
    text-align: center;
  }
  
  .message.error {
    color: #e80505;
  }
  
  .message.success {
    color: #0beb16;
  }
  
  /* Estilos de escritorio */
  @media (min-width: 768px) {
    /* Estilo del contenedor */
    .login-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../assets/fondoLogin.png');
      background-size: cover;
      background-position: center;
      width: 600px;
      height: 820px;
      padding: 40px;
    }
  /* Título */
    .login-container h2 {
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .login-container label {
      font-size: 18px;
    }

    .closse-btn {
        position: absolute;
        background: none;
        top: 15px;
        right: 55px;
        color: red;
        cursor: pointer;
        font-size: 50px;
    }
  
    .login-container input[type="email"],
    .login-container input[type="password"],
    .login-container input[type="text"] {
        width: 90%;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .eye-iconL{
      top: 30px;
    }
  
    .options {
      font-size: 20px;
    }
  
    .login-button {
      padding: 10px 0;
      font-size: 20px;
    }
  
    .register-text {
      font-size: 20px;
    }
  
    .message {
      font-size: 25px;
    }
    .message.error {
        color: #e80505;
    }
    .message.success {
        color: #0beb16;
    }
  }