.cerrar {
    background-color: #a31106;
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 80%; 
    text-align: center;
}

.cerrar:hover {
    background-color: #790a0a;
    transform: scale(1.05);
}
