Background and container styling
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    
}

/* Contenedor principal */
.container {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/fondoLogin.png'); */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 95%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

/* Título */
.container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo del label */
.container label {
    font-size: 1rem;
    font-weight: bolder;
    color: #ccc;
    display: block;
    margin-bottom: 10px;
}

/* Inputs */
.container input[type="email"] {
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #686E9E;
    color: white;
    font-size: 1rem;
    text-align: center;
}

/* Placeholder del input */
.container input::placeholder {
    color: #ccc;
}

/* Botón de envío */
.submit-button {
    background-color: #F66136;
    color: black;
    border: solid 1px white;
    border-radius: 20px;
    padding: 1rem;
    max-width: 400px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
}

/* Mensajes */
.message {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}

.message.error {
    color: #e80505;
}

.message.success {
    color: #0beb16;
}

/* Media queries para pantallas más grandes */
@media (min-width: 768px) {


    .container {
        width: 770px;
        height: 600px;
    }

    .container h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .container label {
        font-size: 18px;
    }

    .container input[type="email"] {
        padding: 15px;
        font-size: 20px;
    }

    .submit-button {
        font-size: 20px;
    }

    .message {
        font-size: 25px;
    }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {

    .container {
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        border-radius: 0;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container label, .container input, .submit-button {
        font-size: 0.9rem;
    }

    .message {
        font-size: 1rem;
    }
}