/* Fondo translúcido que ocupa toda la pantalla */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

/* Estilos del modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

/* Estilo del título */
.modal-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo del botón de cerrar */
.modal-close-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.modal-close-button:hover {
    background-color: #0056b3;
}
