* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #9aa5bc;
}
/*Panel de la tabla*/
#panel {
  top: 180px;
  padding: 20px;
  border-radius: 20px;
  width: 90vw;
  max-width: 600px;
  text-align: center;
  position: relative;
  background: #686e9e;
}
/*Icono usuarios*/
#mdi_users {
  width: 40px;
  height: 40px;
  top: 17px;
  left: 14px;
  padding: 6.67px 3.33px 8.33px 3.33px;
  gap: 0px;
  opacity: 0px;
}
/*Título del panel*/
.gestion {
  width: 322px;
  height: 18px;
  top: 16px;
  left: 61px;
  gap: 0px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 43.71px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
/*Contenedor del título e icono*/
article {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Cabecera de la tabla*/
thead {
  width: 493px;
  height: 26px;
  top: 71px;
  left: 24px;
  gap: 0px;
  opacity: 0px;
  background-color: #515a9b;
  color: #ffffff;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  line-height: 13.66px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
/*Cada cabeza de columna*/
th {
  width: 40px;
  height: 14px;
  top: 6px;
  left: 25px;
  gap: 0px;
  opacity: 0px;
}
/*Columnas de usuario y email*/
.text {
  width: 150px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Color-Ink-Ink-Dark, #252a31);
}
/*Boton de estado*/
.status {
  width: 60px;
  height: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  opacity: 0px;
  color: #ffffff;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  box-shadow: 0px 4px 4px 0px #00000040;
}
/*Boton de estado: activo*/
.status.Activo {
  background: #0df20d;
}
/*Boton de estado: inactivo*/
.status.Inactivo {
  background: #757575;
}
/*Boton de la papelera*/
#trash {
  width: 100% /*23px*/;
  height: auto /*24px*/;
  padding: 0px /*2px 3px 2px 3px*/;
  margin: 0px;
  gap: 0px;
  opacity: 0px;
  background-color: #686e9e;
  color: #252a31;
}

/* Estilo de escritorio */
@media (min-width: 768px) {
  /* Panel de la tabla*/
  #panel {
    padding: 30px;
    width: 100vw;
    max-width: 650px;
  }
  /*Icono usuarios*/
  #mdi_users {
    width: 60px;
    height: 60px;
  }
  /*Título del panel*/
  .gestion {
    width: 412px;
    height: 24px;
    top: 24px;
    left: 72px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;
    font-weight: 900;
  }
  /*Cabecera de la tabla*/
  thead {
    width: 613px;
    height: 32px;
    background-color: #515a9b;
    color: #ffffff;
    font-family: Manrope;
    font-size: 20px;
  }
  /*Columnas de usuario y email*/
  .text {
    font-size: 16px;
    font-weight: 450;
  }
  /*Botón de estado*/
  .status {
    width: 80px;
    height: 14px;
    padding: 12px;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
}
